.container {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: var(--main-color);
}
ul {
  display: flex;
  flex-direction: row;
}
ul.navigation {
  justify-content: flex-start;
}

.auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-color);
  padding: 0 20px;
}
.auth svg {
  padding-right: 20px;
}
ul li {
  padding: 0 20px;
}
ul li a {
  color: var(--text-color);
}
