.container {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: lightblue;
}
ul {
  display: flex;
  flex-direction: row;
}
ul.navigation {
  justify-content: flex-start;
}
ul.auth {
  justify-content: flex-end;
}
ul li {
  padding: 0 20px;
}
