nav {
    background-color: #000;
    padding: 20px 0;
}
.menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.menu--item {
    list-style-type: none;
    padding: 0 20px;
}

.menu--item_link {
    text-decoration: none;
    color: #fff;
}