.contacts--wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rosybrown;
    padding: 20px;
}
.contacts--feedback {
    flex: 1;
    position: relative;
}
.feedback {
    border-radius: 4px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 8px;
}
.feedback:hover {
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.feedback--header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.feedback--icon {
    height: 25px;
    width: 25px;
    padding-right: 4px;
}


.newFeedback {
    margin-top: 30px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newFeedbackName {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 4px;
}
.newFeedbackValue {
    flex: 1;
    display: flex;
    min-width: 280px;
    min-height: 100px;
    margin: 8px 0;
    padding: 8px 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.newFeedbackLabel {
    font-size: 0.8em;
    color: grey;
}
.newFeedbackButton {
    background-color: forestgreen;
    border: none;
    padding: 8px 30px;
    min-width: 200px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.contacts--information {
    flex: 1;
}