.products {
  display: flex;
  flex: 1;
  min-height: 80vh;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  width: calc(100% / 5);
  /* border: 1px solid red; */
}
.icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #fff;
}
.item_footer {
  display: flex;
  justify-content: space-between;
}
